h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

body {
    background-color: #80DEEA;
}

.container-fluid {
    padding: 80px 120px;
}

p {
    background-color: #E0F7FA;
}

.img-profile {
    border: 10px;
    border-color: solid;
    border-radius: 10px;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
}

.img-profile:hover {
    border-color: #f1f1f1;
}


/* Add a dark background color with a little bit see-through */

.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}


/* Add a gray color to all navbar links */

.navbar li a,
.navbar .navbar-brand {
    color: #d5d5d5 !important;
}


/* On hover, the links will turn white */

.navbar-nav li a:hover {
    color: #fff !important;
}


/* The active link */

.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}


/* Remove border color from the collapsible button */

.navbar-default .navbar-toggle {
    border-color: transparent;
}


/* Dropdown */

.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}


/* Dropdown links */

.dropdown-menu li a {
    color: #000 !important;
}


/* On hover, the dropdown links will turn red */

.dropdown-menu li a:hover {
    background-color: red !important;
}
