h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

body {
    background-color: #80DEEA;
}

p {
    background-color: #E0F7FA;
}

#img-profile {
    width: 100%;
    border-radius: 10px;
}
